.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

.custom-dates-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.35s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}