.scrollbar-x-wide::-webkit-scrollbar {
  height: 7px; /* horizontal scrollbar thickness */
}

.scrollbar-x-wide::-webkit-scrollbar-thumb {
  background-color: #a3a3a3; /* thumb color */
  border-radius: 4px;
  width: 42px;
}

.scrollbar-x-wide::-webkit-scrollbar-track {
  background: #000000b3;
}
